/* body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #000000;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
} */

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    #ffffff,
    #dfffd6
  ); /* White to light green gradient */
  background-attachment: fixed; /* Keeps the gradient fixed while scrolling */
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: inherit; /* Inherits the gradient background from the body */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@keyframes glow {
  from {
    textshadow: 0 0 20px rgba(0, 255, 149, 0.5), 0 0 40px rgba(0, 255, 149, 0.3);
  }
  to {
    textshadow: 0 0 30px rgba(0, 255, 149, 0.8), 0 0 50px rgba(0, 255, 149, 0.5),
      0 0 70px rgba(0, 255, 149, 0.3);
  }
}
